/* ОБНУЛЕНИЕ СТИЛЕЙ */
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}

li {
	list-style: none;
}

a,
a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}

img {
	max-width: 100%;
}

html,
body {
	height: 100%;
}

html {
	font-size: 16px;
	/* по умолчанию */
}

body {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	line-height: 1;
	color: #1c1c1c;
}

button {
	padding: 0;
	border: none;
	background: transparent;
}

.wrapper {
	min-height: 100%;
	overflow: hidden;
}

/* Fonts */

@font-face {
	font-family: 'Open Sans';
	src: local("Open Sans Light"),
		/* Если не получилось, загрузит woff2 */
		url("/fonts/OpenSansLight.woff2") format("woff2"),
		/* Если браузер не поддерживает woff2, загрузит woff */
		url("/fonts/OpenSansLight.woff") format("woff");
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Open Sans';
	src: local("Open Sans Regular"),
		/* Если не получилось, загрузит woff2 */
		url("/fonts/OpenSansRegular.woff2") format("woff2"),
		/* Если браузер не поддерживает woff2, загрузит woff */
		url("/fonts/OpenSansRegular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Open Sans';
	src: local("Open Sans SemiBold"),
		/* Если не получилось, загрузит woff2 */
		url("/fonts/OpenSansSemiBold.woff2") format("woff2"),
		/* Если браузер не поддерживает woff2, загрузит woff */
		url("/fonts/OpenSansSemiBold.woff") format("woff");
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

/* Общие стили */

.flex {
	display: flex;
}

.container {
	margin: 0 auto;
	padding: 0 15px;
	max-width: 1200px;
}

.container-offset {
	padding: 87px 0 160px;
}

.btn {
	padding: 15px 35px;
	color: #fff;
	font-size: 15px;
	font-weight: 600;
	cursor: pointer;
	border-radius: 3px;
	background: #3172B9;
}

.title {
	color: #1c1c1c;
	font-size: 36px;
	font-weight: 300;
	line-height: 130%;
}

.title-descr {
	text-align: center;
}


/* Стили для Header */
.header {
	padding: 30px 0;
}

.header-container {
	align-items: center;
}

.logo {
	margin-right: auto;
}

.header-nav {
	margin-right: 52px;
}

.header-list-item:not(:last-child) {
	margin-right: 52px;
}

.header-list-link {
	color: #1c1c1c;
	font-size: 15px;
	font-weight: 600;
}

/* Стили для Hero */
.hero {
	padding: 113px 0 134px;
}

.hero-content {
	flex-direction: column;
	align-items: flex-start;
	width: 45%;
}

.hero-title {
	margin-bottom: 26px;
}

.hero-descr {
	margin-bottom: 34px;
}

.hero-btn {
	margin-bottom: 14px;
}

/* Стили для Services */
.services-title {
	margin-bottom: 21px;
	text-align: center;
}

.services-title-descr {
	margin-bottom: 54px;
}

.services-list-item {
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-right: 30px;
	padding: 62px 30px;
	width: 270px;
}

.services-list-item:nth-child(4n) {
	margin-right: 0;
}

.services-list-icon {
	margin-bottom: 27px;
}

.services-list-title {
	margin-bottom: 15px;
}

.services-list-descr {
	text-align: center;
}

/* Стили для Articles */
.articles-title {
	margin-bottom: 42px;
}

.articles-list {
	flex-wrap: wrap;
}

.articles-item {
	margin-right: 30px;
	margin-bottom: 30px;
	width: 570px;
}

.articles-item:nth-child(2n) {
	margin-right: 0;
}

.article-prewiev-img {
	object-fit: cover;
}

.article-prewiev-content {
	padding: 23px 160px 38px 30px;
}

.article-prewiev-time {
	display: block;
}

.article-prewiev-title {
	margin-bottom: 15px;
}

/* Стили для Clients */
.clients-title {
	margin-bottom: 42px;
}

.clients-item {
	flex-direction: column;
	margin-right: 30px;
	padding: 50px 52px 32px;
}

.clients-item:last-child {
	margin-right: 0;
}

.clients-item-descr {
	margin-bottom: 33px;
}

.clients-item-user {
	align-items: center;
	margin-top: auto;
	padding-top: 22px;
}

.clients-item-avatar {
	margin-right: 17px;
}

/* Стили для Contacts */
.contacts-title {
	margin-bottom: 106px;
}

.contacts-address {
	font-style: normal;
}

.contacts-item {
	flex-direction: column;
	margin-right: 30px;
	width: 370px;
}

.contacts-item:last-child {
	margin-right: 0;
}

.contacts-item-title {
	margin-bottom: 30px;
}

.contacts-item-link {
	display: block;
	margin-bottom: 5px;
}

/* Стили для Footer */
.footer {
	padding: 45px 0;
}

.footer-container {
	align-items: center;
	justify-content: space-between;
}

.footer-left {
	align-items: center;
}

.footer-logo {
	margin-right: 25px;
}

.footer-right {
	align-items: center;
}

.footer-item {
	margin-right: 28px;
}

.footer-item:last-child {
	margin-right: 0;
}